.divmenu {
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  color: white;
}

.divseries {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.series-links {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  margin-left: 90px;
}



.divseries h1 {
  background-color: blue;
  width: auto;
  text-align: center;
  margin-top: 20px;
}

.divseries a {
  display: block;
  text-decoration: none;
  padding: 20px;
  width: 20%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.divseries a:hover {
  transform: scale(1.1);
}

.divseries a img {
  width: 100%;
  height: 80px;
}

.divmenuLeft {
  width: 60%;
  background-color: silver;
  border-radius: 20px;
  margin-right: 15px; 
}

.divmenuRight {
  width: 40%;
  background-color: silver;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.h1 {
  background-color: red;
  width: auto;
  text-align: center;
  margin-top: 20px;
  ;
}

#imgposter {
  width: 100%;
}

.cardHot{
  justify-content: center;
  align-items: center;
}
.cardHot img{
  display: block;
  margin: 0 auto;
}
.cardHot p{
  text-align: center;
  color: black  ;
}

@media only screen and (max-width: 870px) {
  .divmenu {
    flex-direction: column; 
    align-items: center;
  }
  
  .divmenuLeft{
    width: 100%; 
    margin-right: 0; 
    height: 20%;
  }
  .divmenuRight {
    margin-top: 20px;
    width: 100%;
   
}
.divseries{
  align-items: center;
}
.series-links {
  flex-wrap: wrap; 
  justify-content: center; 
  margin-left: 0; 
  padding-right: 0;
}

  .divseries a {
    width: 50%;
    margin-bottom: 40px; 
  }
  
  
}
@media only screen and (max-width: 480px) {
  .divseries a {
    width: 100%;
  }
}